/_0.fdt
/_0.fdx
/_0.fnm
/_0.frq
/_0.nrm
/_0.prx
/_0.tii
/_0.tis
/segments.gen
/segments_1
/write.lock
/_1.nrm
/_1.fdt
/_1.fdx
/_1.fnm
/_1.frq
/_1.prx
/_1.tii
/_1.tis
/segments_2
/_2.fdt
/_2.fdx
/_2.fnm
/_2.frq
/_2.nrm
/_2.prx
/_2.tii
/_2.tis
/segments_3
/_3.fdt
/_3.fdx
/_3.fnm
/_3.frq
/_3.nrm
/_3.prx
/_3.tii
/_3.tis
/segments_4
/_5.fdt
/_5.fdx
/_5.fnm
/_5.frq
/_5.nrm
/_5.prx
/_5.tii
/_5.tis
/segments_6
